<section class="span12 hero-unit">
  <h1>Welcome to Fire Up Ember.js</h1>
  <p>
    This is demo app based on Peepcode's learning video <a href=""><strong>Fire Up Ember.js</strong></a>. 
  </p> 
  {{#linkTo "tables" class="btn btn-primary"}}Go to Ordr »{{/linkTo}}
</section>
