<div class="row">

  <div id="food" class="span2">
      {{render "food"}}
  </div>

  <div class="span6">
    {{#with tab}}
      <h2>Table {{id}}</h2>
      <ul>
        {{#each tabItem}}
          <li><strong>{{food.name}}</strong> for <em>{{price cents}}</em></li>
        {{/each}}
      </ul>
    {{/with}}  
  <div>

</div>
