    <div id="tables" class="span4">
      <div class="row">
        {{#each controller}}
          {{#linkTo "table" this class="span2"}}{{id}}{{/linkTo}}
        {{/each}}
      </div>
    </div>

    <div id="table-detail" class="span8">
      {{outlet}}
    </div>
